---
import HeroSection from "../components/Index/HeroSection.astro";
import Layout from "../layout/Layout.astro";
import { getEntryBySlug } from "astro:content";

const HeroSectionData = await getEntryBySlug("IndexPage", "hero");
---

<Layout title="Home Page">
  <main class="main-wrapper relative overflow-hidden">
    <HeroSection HeroSectionData={HeroSectionData} />
    
  </main>
</Layout>
