---
import { Image } from "astro:assets";
---

<section class="section-breadcrumb">
  <div class="breadcrumb-wrapper">
    <div class="container-default">
      <div class="breadcrumb-block">
        <slot />
      </div>
    </div>
    <div class="absolute left-0 md1:top-0 bottom-0 -z-[1] p-4">
      <a href="/">
        <Image
          src="/assets/img/THAT-Full-Wide.svg"
          alt="hero-shape-1"
          width="200"
          height="260"
        />
      </a>
    </div>
  </div>
</section>
