---
import { getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
const FooterData = await getEntryBySlug("site", "footer");
const {
  socialLinks,
} = FooterData.data;
---

<footer class="section-footer">
  <div
    class="relative z-10 rounded-tl-[30px] rounded-tr-[30px] bg-white lg:rounded-tl-[50px] lg:rounded-tr-[50px] xl:rounded-tl-[100px] xl:rounded-tr-[100px]"
  >
    
    <div class=" text-[#2C2C2C]">
      <div class="py-[60px] lg:py-20 xl:py-[100px]">
        <div class="container-default">
          <div
            class="grid gap-x-16 gap-y-10 sm:grid-cols-2 lg:grid-cols-[1fr_repeat(3,_auto)] xl:gap-x-24 xxl:gap-x-[134px]"
          >
            <div class="flex flex-col gap-y-7">
              
              <div>
                <div class="flex flex-wrap gap-5">
                  {
                    socialLinks?.map(({ link, icon }: any) => (
                      <a
                        href={link}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-white bg-opacity-5 text-sm text-white transition-all duration-300 hover:bg-ColorPaleGold hover:text-ColorDenimDarkBlue"
                        aria-label="socialIcons"
                      >
                        <i class={`fa-brands ${icon}`} />
                      </a>
                    ))
                  }
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-[#EAEDF0]">
      <div class="py-[18px]">
        <div class="container-default">
          <div
            class="flex flex-col items-center gap-5 lg:flex-row lg:items-start lg:justify-between"
          >
            <div class="flex flex-wrap items-center gap-5">
              <Image
                src="/assets/img/THAT-Full-Wide.svg"
                alt="THAT Conference"
                width="120"
                height="30"
                class="h-[30px] w-auto"
              />
              {
                socialLinks?.map(({ link, icon }: any) => (
                  <a
                    href={link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-ColorMidnightMoss/10 text-sm text-ColorMidnightMoss transition-all duration-300 hover:bg-ColorCaribbeanGreen"
                    aria-label="socialIcons"
                  >
                    <i class={`fa-brands ${icon}`} />
                  </a>
                ))
              }
            </div>
            <div class="text-center text-xs text-ColorMidnightMoss text-opacity-80">
              &copy; Copyright {new Date().getFullYear()}, All Rights Reserved
              by THAT Conference
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
